
.home-container {
    padding: 2rem;
    max-width: 800px; 
    margin: auto; 
    background-color: #f9f9f9;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.title {
    text-align: center; 
    color: #2c3e50; 
    font-size: 2.5rem; 
}

.description {
    text-align: justify; 
    color: #34495e;
    margin-bottom: 1.5rem;
}

.benefits-list,
.tips-list {
    list-style-type: disc; 
    padding-left: 20px; 
}

.benefits-list li,
.tips-list li {
    margin-bottom: 0.5rem;
}

.full-width-image {
    width: 100%; 
    height: auto;
    border-radius: 8px; 
    margin-bottom: 1.5rem; 
}

.quote {
    font-style: italic; 
    color: #f80101; 
    text-align: center; 
    margin: 1.5rem 0; 
    font-weight: bolder;
}

.conclusion {
    text-align: justify; 
}


.footer {
    background-color: #34495e; 
    color: white; 
    padding: 2rem;
    margin-top: 2rem; 
}

.footer-content {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.footer-column {
    flex: 1; 
    min-width: 200px; 
    margin-right: 20px; 
}

.footer-column h3 {
    margin-top: 0; 
}

.footer-bottom {
    text-align: center; 
    margin-top: 1rem; 
}


.footer-content p {
    margin: 0.5rem 0; 
}